/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.icon {
  display: inline-block;
  vertical-align: top;
  fill: currentColor;
}
.icon--profile {
  width: 11px;
  height: 14px;
}
.icon--rocket {
  width: 20px;
  height: 20px;
}
.icon--video-camera {
  width: 30px;
  height: 18px;
}
.icon--man {
  width: 14px;
  height: 30px;
}
.icon--settings {
  width: 30px;
  height: 30px;
}
.icon--departures {
  width: 100px;
  height: 75px;
}
.icon--shuttle {
  width: 90px;
  height: 90px;
}
.icon--ufo-flying {
  width: 100px;
  height: 86px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  min-width: 320px;
  line-height: 1.18;
  background: #1A212D;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

#main {
  width: 100%;
  overflow: hidden;
}

.body-overflow {
  overflow: hidden;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: bold;
}

a {
  outline: 0;
}

.btn {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s color ease, 0.3s background-color ease;
  padding: 0 33px;
  border-radius: 2px;
  height: 50px;
  text-decoration: none;
  border: 0;
  outline: 0;
  max-width: 100%;
  font-size: 16px;
}
.btn b {
  font-weight: 600;
}
.btn--icon-mr {
  margin-right: 10px;
}
.btn--icon-ml {
  margin-right: 10px;
}
.btn--green {
  color: #fff;
  background: #00C365;
}
.btn--green:hover {
  background: #00904b;
}
.btn--full {
  width: 100%;
}
.btn--large {
  height: 64px;
  font-size: 20px;
}
.btn--large .btn--icon-mr {
  margin-right: 15px;
}
.btn--large .btn--icon-ml {
  margin-left: 15px;
}

.btn-r {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s color ease, 0.3s background-color ease, 0.3s border-color ease;
  padding: 0 33px;
  border-radius: 3px;
  height: 50px;
  text-decoration: none;
  border: 2px solid;
  outline: 0;
  max-width: 100%;
}
.btn-r--large {
  height: 64px;
  font-size: 20px;
}
.btn-r--green {
  border-color: #00C365;
  color: #00C365;
}
.btn-r--green:hover {
  color: #fff;
  background: #00C365;
}

.tabs-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tabs-list__item {
  margin: 0 10px;
}
.tabs-list__btn {
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 175px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s color ease, 0.3s background-color ease;
  background: #262C38;
  border-radius: 3px;
  text-decoration: none;
  outline: 0;
  border: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.22;
}
.tabs-list__btn:hover, .tabs-list__btn--active {
  color: #fff;
  background: #00C365;
}

@media (max-width: 568px) {
  .tabs-list__item {
    margin: 0 5px;
  }
  .tabs-list__btn {
    padding-left: 20px;
    padding-right: 20px;
    min-width: 120px;
    font-size: 16px;
    height: 50px;
  }
}
.text-center {
  text-align: center;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.br {
  display: block;
}

.w100 {
  width: 100% !important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.row {
  flex-wrap: wrap;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
.row [class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1-2 {
  width: 50%;
}

.main-container {
  max-width: 1326px;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: auto;
  margin-right: auto;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.slick-slide {
  outline: 0;
}

.page-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.page-bg .main-container {
  position: relative;
}

.page-wrap {
  position: relative;
  z-index: 100;
}

.section {
  margin-top: 112px;
  margin-bottom: 112px;
}
.section__head {
  text-align: center;
  margin-bottom: 40px;
}
.section__head h2 {
  margin: 0 0 20px;
  color: #fff;
  font-size: 40px;
  line-height: 1.225;
}
.section__head p {
  font-size: 16px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 20px;
}

@media (max-width: 568px) {
  .section {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .section__head {
    margin-bottom: 25px;
  }
  .section__head h2 {
    font-size: 30px;
  }
}
.header {
  padding: 38px 0;
  position: relative;
}
.header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__logo {
  display: inline-block;
  vertical-align: top;
  width: 291px;
}
.header__logo-img {
  display: block;
  width: 100%;
}
.header__menu-wrap {
  margin-left: auto;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0;
  margin: 0 0 0 50px;
}
.header__nav-item:not(:last-child) {
  margin-right: 80px;
}
.header__nav-link {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 20px;
  border: 0;
  outline: 0;
  text-decoration: none;
  transition: 0.3s color ease;
}
.header__nav-link:before {
  position: absolute;
  top: 100%;
  left: 50%;
  transition: 0.3s opacity ease;
  width: 6px;
  height: 6px;
  margin: 1px 0 0 -3px;
  border-radius: 100%;
  background: #00C365;
  display: block;
  content: "";
  opacity: 0;
}
.header__nav-link:hover, .header__nav-link--active {
  color: #fff;
}
.header__nav-link--active {
  font-weight: bold;
}
.header__nav-link--active:before {
  opacity: 1;
}
.header__menu-btn {
  display: none;
}

@media (max-width: 1280px) {
  .header {
    padding: 30px 0;
  }
  .header__logo {
    width: 260px;
  }
  .header__nav {
    margin-left: 20px;
    top: 45px;
  }
  .header__nav-item:not(:last-child) {
    margin-right: 70px;
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 14px 0;
  }
  .header__logo {
    width: 160px;
  }
  .header__menu-wrap {
    display: none;
  }
  .header__menu-btn {
    display: block;
    margin: 0 0 0 auto;
    width: 40px;
    position: relative;
  }
  .header__menu-btn:before, .header__menu-btn:after {
    position: relative;
    display: block;
    content: "";
    height: 2px;
    background: #00C365;
    margin-left: auto;
    transition: 0.3s all ease;
  }
  .header__menu-btn:before {
    width: 30px;
  }
  .header__menu-btn:after {
    width: 38px;
    margin-top: 13px;
  }
  .header__menu-btn--active:before, .header__menu-btn--active:after {
    width: 30px;
  }
  .header__menu-btn--active:before {
    transform: rotate(45deg);
    top: 8px;
  }
  .header__menu-btn--active:after {
    transform: rotate(-45deg);
    top: -7px;
  }
}
.welcome {
  margin: 63px 0 0;
}
.welcome__cont {
  width: calc(100% - 735px);
  padding-top: 60px;
}
.welcome__cont h1 {
  color: #fff;
  font-weight: bold;
  font-size: 70px;
  line-height: 1.1;
  margin: 0 0 24px;
}
.welcome__cont p {
  font-size: 16px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 15px;
}
.welcome__img-w {
  position: relative;
  width: 735px;
}
.welcome__img {
  display: block;
  width: 100%;
  z-index: 50;
  position: relative;
}
.welcome__dots {
  position: absolute;
  top: -37px;
  right: -48px;
  width: 315px;
}
.welcome__play {
  width: 152px;
  height: 152px;
  background: rgba(0, 195, 101, 0.3);
  display: block;
  position: absolute;
  top: 50%;
  left: 31px;
  margin-top: -104px;
  border-radius: 100%;
  z-index: 60;
}
.welcome__play:before, .welcome__play:after {
  position: absolute;
  content: "";
  display: block;
}
.welcome__play:before {
  border-radius: 100%;
  background: #00C365;
  width: 124px;
  height: 124px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all ease;
}
.welcome__play:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 34px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 6px;
}
.welcome__play:hover:before {
  width: 100%;
  height: 100%;
}
.welcome__btn {
  margin-top: 25px;
  width: 300px;
}
.welcome__btn .icon {
  margin-right: 15px;
}

@media (max-width: 1280px) {
  .welcome__cont {
    width: calc(100% - 600px);
    padding-top: 20px;
  }
  .welcome__cont h1 {
    font-size: 60px;
  }
  .welcome__img-w {
    width: 600px;
  }
  .welcome__play {
    left: 10px;
    margin-top: -95px;
  }
  .welcome__dots {
    width: 215px;
    top: -25px;
    right: -20px;
  }
}
@media (max-width: 1024px) {
  .welcome {
    margin-top: 40px;
  }
  .welcome__cont {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding-top: 0;
    text-align: center;
  }
  .welcome__img-w {
    display: none;
  }
  .welcome h1 {
    font-size: 40px;
  }
}
@media (max-width: 568px) {
  .welcome h1 {
    font-size: 36px;
  }
}
.integration {
  margin: 127px 0 0;
  padding-bottom: 37px;
}
.integration .flex-wrap {
  align-items: flex-start;
}
.integration__galery-w {
  position: relative;
  width: calc(100% - 537px);
}
.integration__galery {
  position: relative;
  z-index: 50;
}
.integration__galery-img {
  width: 100%;
  display: block;
}
.integration__dots {
  position: absolute;
  width: 315px;
  bottom: -37px;
  left: -41px;
}
.integration__cont {
  width: 537px;
  padding-left: 70px;
  padding-top: 20px;
}
.integration__cont h2 {
  margin: 0 0 20px;
  color: #fff;
  font-size: 40px;
  line-height: 1.225;
}
.integration__cont p {
  font-size: 16px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 15px;
}

.integration-nav {
  padding: 0;
  margin: 30px 0 0;
  list-style: none;
}
.integration-nav__item:not(:last-child) {
  margin-bottom: 20px;
}
.integration-nav__icon {
  width: 85px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 3px;
}
.integration-nav__text {
  width: calc(100% - 85px);
}
.integration-nav__btn {
  background: #262C38;
  border-radius: 3px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s color ease, 0.3s background-color ease;
  font-size: 18px;
  line-height: 170%;
  text-decoration: none;
  outline: 0;
  border: 0;
}
.integration-nav__btn--active, .integration-nav__btn:hover {
  background: #00C365;
  color: #fff;
}

@media (max-width: 1280px) {
  .integration {
    padding-bottom: 20px;
  }
  .integration__cont {
    padding-left: 40px;
  }
  .integration__cont h2 {
    font-size: 36px;
  }
  .integration__dots {
    width: 215px;
    bottom: -20px;
    left: -20px;
  }

  .integration-nav__btn {
    height: 70px;
  }
}
@media (max-width: 1200px) {
  .integration__cont {
    padding-left: 30px;
  }
}
@media (max-width: 1024px) {
  .integration {
    margin-top: 80px;
  }
  .integration__galery-w, .integration__cont {
    width: 500px;
    margin: auto;
  }
  .integration__cont {
    margin-top: 40px;
    padding-left: 0;
  }
}
@media (max-width: 568px) {
  .integration {
    margin-top: 60px;
    padding-bottom: 0;
  }
  .integration__dots {
    width: 115px;
    bottom: -10px;
    left: -10px;
  }
  .integration__cont h2, .integration__cont p {
    text-align: center;
  }
  .integration__cont h2 {
    font-size: 30px;
  }

  .integration-nav__btn {
    line-height: 1.2;
    font-size: 16px;
  }
  .integration-nav__icon {
    width: 70px;
    padding-left: 2px;
  }
  .integration-nav__icon .icon--video-camera {
    width: 26px;
    height: 16px;
  }
  .integration-nav__icon .icon--man {
    width: 12px;
    height: 26px;
  }
  .integration-nav__icon .icon--settings {
    width: 26px;
    height: 26px;
  }
  .integration-nav__text {
    width: calc(100% - 70px);
  }
  .integration-nav__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.plan .tabs-list {
  margin-top: 40px;
}
.plan__dots {
  position: absolute;
  top: -37px;
  right: -35px;
  width: 315px;
}
.plan__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
.plan__item {
  width: calc(100% / 3);
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 50;
}
.plan__inner {
  background: #262C38;
  border-radius: 10px;
  padding-bottom: 270px;
  height: 100%;
  position: relative;
}
.plan__inner--active {
  box-shadow: inset 0 0 0 2px #00C365;
}
.plan__inner--active:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 145px;
  height: 145px;
  background: url("images/most-popular.svg") no-repeat center;
  background-size: cover;
  display: block;
  content: "";
}
.plan__icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 190px;
  padding-top: 10px;
}
.plan__cont {
  padding-left: 50px;
  padding-right: 50px;
}
.plan__cont h3 {
  margin: 0 0 17px;
  color: #fff;
  text-align: center;
  font-size: 25px;
  line-height: 1.7;
}
.plan__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
.plan__price {
  text-align: center;
  line-height: 1;
  margin-bottom: 34px;
}
.plan__price-num {
  font-weight: 500;
  color: #fff;
  font-size: 60px;
  margin-bottom: 11px;
}
.plan__price-status {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

.plan-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.plan-list__item {
  position: relative;
  padding-left: 34px;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.5);
}
.plan-list__item:before {
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("images/check-green-o.svg") no-repeat center;
  background-size: cover;
  display: block;
  content: "";
}

@media (max-width: 1280px) {
  .plan__dots {
    width: 215px;
    top: -20px;
    right: -20px;
  }
  .plan__cont, .plan__footer {
    padding-left: 30px;
    padding-right: 30px;
  }
  .plan__footer {
    padding-bottom: 30px;
  }
  .plan__row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .plan__item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .plan__inner {
    padding-bottom: 230px;
  }
  .plan__price-num {
    font-size: 40px;
  }
  .plan__price-status {
    font-size: 18px;
  }

  .plan-list__item {
    font-size: 16px;
  }
}
@media (max-width: 1100px) {
  .plan__item {
    width: 50%;
    margin-bottom: 20px;
  }
  .plan__item:last-child {
    margin-bottom: 0;
  }
  .plan__row {
    max-width: 800px;
    margin: auto;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .plan__item {
    width: 100%;
  }
  .plan__row {
    width: 430px;
  }
}
@media (max-width: 568px) {
  .plan .tabs-list {
    margin-top: 20px;
  }
  .plan__row {
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
  }
}
.comments-slider {
  position: relative;
}
.comments-slider__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}
.comments-slider__item {
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% / 3);
}
.comments-slider__inner {
  min-height: 398px;
  background: #262C38;
  border-radius: 10px;
  padding: 40px;
  padding-bottom: 35px;
  height: 100%;
}
.comments-slider__head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.comments-slider__head-cont {
  width: calc(100% - 70px);
  padding-left: 20px;
  line-height: 1.7;
}
.comments-slider__head-cont h3 {
  margin: 0 0 2px;
  font-size: 20px;
  color: #fff;
}
.comments-slider__head-cont p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px;
}
.comments-slider__head-cont p:last-child {
  margin-bottom: 0;
}
.comments-slider__avatar {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
}
.comments-slider__avatar-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.comments-slider__content {
  line-height: 1.7;
  margin-top: 30px;
}
.comments-slider__content h4 {
  margin: 0 0 15px;
  font-size: 18px;
  color: #fff;
}
.comments-slider__content p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px;
}
.comments-slider__content p:last-child {
  margin-bottom: 0;
}