.section.comments
  .main-container
    .section__head
      h2 What our customers say
    .comments-slider
      .comments-slider__list
        .comments-slider__item
          .comments-slider__inner
            .comments-slider__head 
              .comments-slider__avatar
                img(src="img/pic-1.png", alt="").comments-slider__avatar-img
              .comments-slider__head-cont
                h3 Linda May
                p Psychologist
            .comments-slider__content
              h4 Сreates the effect of live presence!
              p Greenroom has transformed my business by allowing me the option to work remotely and not miss out on their personal life or that important meeting.
        .comments-slider__item
          .comments-slider__inner
            .comments-slider__head 
              .comments-slider__avatar
                img(src="img/pic-2.png", alt="").comments-slider__avatar-img
              .comments-slider__head-cont
                h3 John Carter
                p Programmer
            .comments-slider__content
              h4 I always went back to Greenroom!
              p Greenroom helps me meet, communicate, and collaborate from remote locations without the need to travel. This helps me devote more time for making life better for children.
        .comments-slider__item
          .comments-slider__inner
            .comments-slider__head 
              .comments-slider__avatar
                img(src="img/pic-3.png", alt="").comments-slider__avatar-img
              .comments-slider__head-cont
                h3 Leo Cooper
                p Desigmer
            .comments-slider__content
              h4 It works!
              p I use Greenroom all day, every day and I don't have to worry about it. It works on all devices and from wherever I am. The video capabilities help me feel closer to my customers and partners.