.header 
  .main-container.header__inner
    a(href="").header__logo
      img(src="img/logo.png", alt="").header__logo-img
    .header__menu-wrap
      ul.header__nav
        li.header__nav-item
          a.header__nav-link.header__nav-link--active(href="") Home
        li.header__nav-item
          a.header__nav-link(href="") Pricing
        li.header__nav-item
          a.header__nav-link(href="") About
      a(href="").btn.btn--green
        svg.icon.icon--profile.btn--icon-mr
          use(href='img/svg-sprite.svg#profile')
        span 
          !="Login / <b>Register</b>"
    a(href="").header__menu-btn