.integration 
  .main-container.flex-wrap
    .integration__galery-w
      .integration__galery
        img(src="img/integration.png", alt="").integration__galery-img
      img(src="img/dots-2.svg", alt="").integration__dots 
    .integration__cont
      h2 Holistic integration, pragmatic use
      p Greenrooms is a simple self-hosted video conferencing solution for confidential communications.
      ul.integration-nav
        li.integration-nav__item
          a.integration-nav__btn.integration-nav__btn--active(href="")
            span.integration-nav__icon
              svg.icon.icon--video-camera
                use(href='img/svg-sprite.svg#video-camera')
            span.integration-nav__text Conferences with zero maintenance
        li.integration-nav__item
          a.integration-nav__btn(href="")
            span.integration-nav__icon
              svg.icon.icon--man
                use(href='img/svg-sprite.svg#man')
            span.integration-nav__text You are the sole owner of your data
        li.integration-nav__item
          a.integration-nav__btn(href="")
            span.integration-nav__icon
              svg.icon.icon--settings 
                use(href='img/svg-sprite.svg#settings ')
            span.integration-nav__text Easy to set up and use application

