.section.plan
  .main-container
    .section__head
      h2 Choose the plan that's right for you
      p.mb-0 Pay by month or the year, and cancel at any time.
      ul.tabs-list
        li.tabs-list__item
          a(href="").tabs-list__btn.tabs-list__btn--active Monthly
        li.tabs-list__item 
          a(href="").tabs-list__btn Annual
    .plan__row
      img(src="img/dots-1.svg", alt="").plan__dots
      .plan__item
        .plan__inner
          .plan__icon
            svg.icon.icon--departures
              use(href='img/svg-sprite.svg#departures')
          .plan__cont
            h3 Basic
            ul.plan-list
              li.plan-list__item Unlimited number of rooms
              li.plan-list__item Host-up to 100 participants at-once (depends on your cloud)
              li.plan-list__item Unlimited meetings
              li.plan-list__item Whiteboard
              li.plan-list__item Screen sharing
              li.plan-list__item Automatic cloud setup
          .plan__footer
            .plan__price
              .plan__price-num $12.00
              .plan__price-status host/mo.
            a(href="").btn-r.btn-r--green.btn-r--large.btn--full 
              svg.icon.icon--rocket.btn--icon-mr
                use(href='img/svg-sprite.svg#rocket')
              b Sign up 
      .plan__item
        .plan__inner.plan__inner--active
          .plan__icon
            svg.icon.icon--shuttle 
              use(href='img/svg-sprite.svg#shuttle ')
          .plan__cont
            h3 Pro
            ul.plan-list
              li.plan-list__item All Basic features
              li.plan-list__item Up to 100 participants at-once  (depends on your cloud)
              li.plan-list__item Whitelabeling
              li.plan-list__item Webinars
              li.plan-list__item Events scheduling
              li.plan-list__item Recordings
          .plan__footer
            .plan__price
              .plan__price-num $24.00
              .plan__price-status host/mo.
            a(href="").btn.btn--green.btn--large.btn--full 
              svg.icon.icon--rocket.btn--icon-mr
                use(href='img/svg-sprite.svg#rocket')
              b Sign up 
      .plan__item
        .plan__inner
          .plan__icon
            svg.icon.icon--ufo-flying
              use(href='img/svg-sprite.svg#ufo-flying')
          .plan__cont
            h3 Ultimate
            ul.plan-list
              li.plan-list__item All Pro features
              li.plan-list__item Webinars scaling - up to 10000 listeners
          .plan__footer
            .plan__price
              .plan__price-num $96.00
              .plan__price-status host/mo.
            a(href="").btn-r.btn-r--green.btn-r--large.btn--full 
              svg.icon.icon--rocket.btn--icon-mr
                use(href='img/svg-sprite.svg#rocket')
              b Sign up 
              
