.welcome 
  .main-container.flex-wrap
    .welcome__cont 
      h1 Manage your data, control your privacy.
      p We have developed the for one of the fastest-growing markets in the world with a surprisingly small number of solutions, focusing on the main of the new decade - privacy
      a(href="").btn.btn--green.btn--large.welcome__btn
        svg.icon.icon--rocket.btn--icon-mr
          use(href='img/svg-sprite.svg#rocket')
        b Start now
    .welcome__img-w
      img(src="img/dots-1.svg", alt="").welcome__dots
      img(src="img/welcome.png", alt="").welcome__img
      a(href="").welcome__play


    