.btn {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s color ease, 0.3s background-color ease;
  padding: 0 33px;
  border-radius: 2px;
  height: 50px;
  text-decoration: none;
  border: 0;
  outline: 0;
  max-width: 100%;
  font-size: 16px;

  b {
    font-weight: 600;
  }

  &--icon-mr {
    margin-right: 10px;
  }

  &--icon-ml {
    margin-right: 10px;
  }

  &--green {
    color: #fff;
    background: $colorGreen;

    &:hover {
      background: darken($colorGreen,10%);
    }
  } 

  &--full {
    width: 100%;
  }

  &--large {
    height: 64px;
    font-size: 20px;

    .btn--icon-mr {
      margin-right: 15px;
    }

    .btn--icon-ml {
      margin-left: 15px;
    }
  }
}

.btn-r {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s color ease, 0.3s background-color ease, 0.3s border-color ease;
  padding: 0 33px;
  border-radius: 3px;
  height: 50px;
  text-decoration: none;
  border: 2px solid;
  outline: 0;
  max-width: 100%;

  &--large {
    height: 64px;
    font-size: 20px;
  }

  &--green {
    border-color: $colorGreen;
    color: $colorGreen;

    &:hover {
      color: $colorWhite;
      background: $colorGreen;
    }
  }
}