.section {
  margin-top: 112px;
  margin-bottom: 112px;

  &__head {
    text-align: center;
    margin-bottom: 40px;

    h2 {
      margin: 0 0 20px;
      color: $colorWhite;
      font-size: 40px;
      line-height: 1.225;
    }

    p {
      font-size: 16px;
      line-height: 1.7;
      color: rgba(255, 255, 255, 0.5);
      margin: 0 0 20px;
    }
  }
}

@media(max-width: 568px) {
  .section {
    margin-top: 60px;
    margin-bottom: 60px;

    &__head {
      margin-bottom: 25px;

      h2 {
        font-size: 30px;
      }
    }
  }
}