.icon {
  display: inline-block;
  vertical-align: top;
  fill: currentColor;

  &--profile {
    width: 11px;
    height: 14px;
  }

  &--rocket {
    width: 20px;
    height: 20px;
  }

  &--video-camera {
    width: 30px;
    height: 18px;
  }

  &--man {
    width: 14px;
    height: 30px;
  }

  &--settings {
    width: 30px;
    height: 30px;
  }

  &--departures {
    width: 100px;
    height: 75px;
  }

  &--shuttle {
    width: 90px;
    height: 90px;
  }

  &--ufo-flying {
    width: 100px;
    height: 86px;
  }
}