* ,
::after ,
::before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  min-width: 320px;
  line-height: 1.18;
  background:#1A212D;
  color: #000;
  font-family: $fontMontserrat;
}

#main {
  width: 100%;
  overflow: hidden;
}

.body-overflow {
  overflow: hidden;
}