.tabs-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    margin: 0 10px;
  }

  &__btn {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 175px;
    color: rgba($colorWhite,0.5);
    transition: 0.3s color ease,  0.3s background-color ease;
    background: $colorDark;
    border-radius: 3px;
    text-decoration: none;
    outline: 0;
    border: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.22;

    &:hover ,
    &--active {
      color: $colorWhite;
      background: $colorGreen;
    }
  }
}

@media(max-width: 568px) {
  .tabs-list {
    &__item {
      margin: 0 5px;
    }

    &__btn {
      padding-left: 20px;
      padding-right: 20px;
      min-width: 120px;
      font-size: 16px;
      height: 50px;
    }
  }
}