.comments {

}

.comments-slider {
  position: relative;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }

  &__item {
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% / 3);
  }

  &__inner {
    min-height: 398px;
    background: $colorDark;
    border-radius: 10px;
    padding: 40px;
    padding-bottom: 35px;
    height: 100%;
  }

  &__head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-cont {
      width: calc(100% - 70px);
      padding-left: 20px;
      line-height: 1.7;
  
      h3 {
        margin: 0 0 2px;
        font-size: 20px;
        color: $colorWhite;
      }
  
      p {
        font-size: 16px;
        color: rgba($colorWhite, 0.5);
        margin: 0 0 10px;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;

    &-img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__content {
    line-height: 1.7;
    margin-top: 30px;

    h4 {
      margin: 0 0 15px;
      font-size: 18px;
      color: $colorWhite;
    }

     
    p {
      font-size: 18px;
      color: rgba($colorWhite, 0.5);
      margin: 0 0 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}