.header {
  padding: 38px 0;
  position: relative;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    vertical-align: top;
    width: 291px;

    &-img {
      display: block;
      width: 100%;
    }
  }

  &__menu-wrap {
    margin-left: auto;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%,0);
    padding: 0;
    margin: 0 0 0 50px;

    &-item {
      &:not(:last-child) {
        margin-right: 80px;
      }
    } 

    &-link {
      display: block;
      position: relative;
      color: rgba($colorWhite,0.5);
      font-size: 16px;
      line-height: 20px;
      border: 0;
      outline: 0;
      text-decoration: none;
      transition: 0.3s color ease;

      &:before {
        position: absolute;
        top: 100%;
        left: 50%;
        transition: 0.3s opacity ease;
        width: 6px;
        height: 6px;
        margin: 1px 0 0 -3px;
        border-radius: 100%;
        background: $colorGreen;
        display: block;
        content: "";
        opacity: 0;
      }

      &:hover ,
      &--active {
        color: $colorWhite;
      }

      &--active {
        font-weight: bold;

        &:before {
          opacity: 1;
        }
      }
    }
  }

  &__menu-btn {
    display: none;
  }
}

@media(max-width: 1280px) {
  .header {
    padding: 30px 0;

    &__logo {
      width: 260px;
    }

    &__nav {
      margin-left: 20px;
      top: 45px;

      &-item {
        &:not(:last-child) {
          margin-right: 70px;
        }
      }
    }
  }
}

@media(max-width: 1024px) {
  .header {
    padding: 14px 0;

    &__logo {
      width: 160px;
    }

    &__menu-wrap {
      display: none;
    }

    &__menu-btn {
      display: block;
      margin: 0 0 0 auto;
      width: 40px;
      position: relative;

      &:before,
      &:after {
        position: relative;
        display: block;
        content: "";
        height: 2px;
        background: $colorGreen;
        margin-left: auto;
        transition: 0.3s all ease;
      }

      &:before {
        width: 30px;
      }

      &:after {
        width: 38px;
        margin-top: 13px;
      }

      &--active {
        &:before,
        &:after {
          width: 30px;
        }

        &:before {
          transform: rotate(45deg);
          top: 8px;
        }

        &:after {
          transform: rotate(-45deg);
          top: -7px;
        }
      }
    }
  }
}