.integration {
  margin: 127px 0 0;
  padding-bottom: 37px;

  .flex-wrap {
    align-items: flex-start;
  }

  &__galery-w {
    position: relative;
    width: calc(100% - 537px);
  }

  &__galery {
    position: relative;
    z-index: 50;

    &-img {
      width: 100%;
      display: block;
    }
  }

  &__dots {
    position: absolute;
    width: 315px;
    bottom: -37px;
    left: -41px;
  }

  &__cont {
    width: 537px;
    padding-left: 70px;
    padding-top: 20px;

    h2 {
      margin: 0 0 20px;
      color: #fff;
      font-size: 40px;
      line-height: 1.225;
    }

    p {
      font-size: 16px;
      line-height: 170%;   
      color: rgba(255, 255, 255, 0.5);
      margin: 0 0 15px;
    }
  }
}

.integration-nav {
  padding: 0;
  margin: 30px 0 0;
  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    width: 85px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 3px;
  }

  &__text {
    width: calc(100% - 85px);
  }

  &__btn {
    background: $colorDark;
    border-radius: 3px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: rgba($colorWhite,0.6);
    transition: 0.3s color ease, 0.3s background-color ease;
    font-size: 18px;
    line-height: 170%;
    text-decoration: none;
    outline: 0;
    border: 0;

    &--active,
    &:hover {
      background: $colorGreen;
      color: $colorWhite;
    }
  }
}

@media(max-width: 1280px) {
  .integration {
    padding-bottom: 20px;

    &__cont {
      padding-left: 40px;

      h2 {
        font-size: 36px;
      }
    }

    &__dots {
      width: 215px;
      bottom: -20px;
      left: -20px;
    }
  }

  .integration-nav {
    &__btn {
      height: 70px;
    }
  }
}

@media(max-width: 1200px) {
  .integration__cont {
    padding-left: 30px;
  }
}

@media(max-width: 1024px) {
  .integration {
    margin-top: 80px;

    &__galery-w,
    &__cont {
      width: 500px;
      margin: auto;
    }

    &__cont {
      margin-top: 40px;
      padding-left: 0;
    }
  }
}

@media(max-width: 568px) {
  .integration {
    margin-top: 60px;
    padding-bottom: 0;

    &__dots {
      width: 115px;
      bottom: -10px;
      left: -10px;
    }

    &__cont {
      h2, p {
        text-align: center;
      }

      h2 {
        font-size: 30px;
      }
    }
  }

  .integration-nav {
    &__btn {
      line-height: 1.2;
      font-size: 16px;
    }

    &__icon {
      width: 70px;
      padding-left: 2px;

      .icon {
        &--video-camera {
          width: 26px;
          height: 16px;
        }

        &--man {
          width: 12px;
          height: 26px;
        }

        &--settings {
          width: 26px;
          height: 26px;
        }
      }
    }

    &__text {
      width: calc(100% - 70px);
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}