.plan {
  .tabs-list {
    margin-top: 40px;
  }

  &__dots {
    position: absolute;
    top: -37px;
    right: -35px;
    width: 315px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
  }

  &__item {
    width: calc(100% / 3);
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 50;
  }

  &__inner {
    background: $colorDark;
    border-radius: 10px;
    padding-bottom: 270px;
    height: 100%;
    position: relative;

    &--active {
      box-shadow: inset 0 0 0 2px $colorGreen;

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        width: 145px;
        height: 145px;
        background: url("#{$rootUrl}most-popular.svg") no-repeat center;
        background-size: cover;
        display: block;
        content: "";
      }
    }
  }

  &__icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: $colorWhite;
    height: 190px;
    padding-top: 10px;
  }

  &__cont {
    padding-left: 50px;
    padding-right: 50px;

    h3 {
      margin: 0 0 17px;
      color: $colorWhite;
      text-align: center;
      font-size: 25px;
      line-height: 1.7;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  &__price {
    text-align: center;
    line-height: 1;
    margin-bottom: 34px;

    &-num {
      font-weight: 500;
      color: $colorWhite;
      font-size: 60px;
      margin-bottom: 11px;
    }

    &-status {
      color: rgba($colorWhite,0.5);
      font-size: 20px;
    }
  }
}

.plan-list {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    position: relative;
    padding-left: 34px;
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 1.7;
    color: rgba($colorWhite,0.5);

    &:before {
      position: absolute;
      top: 5px;
      left: 0;
      width: 20px;
      height: 20px;
      background: url("#{$rootUrl}check-green-o.svg") no-repeat center;
      background-size: cover;
      display: block;
      content: "";
    }
  }
}

@media(max-width: 1280px) {
  .plan {
    &__dots {
      width: 215px;
      top: -20px;
      right: -20px;
    }

    &__cont,
    &__footer {
      padding-left: 30px;
      padding-right: 30px;
    }

    &__footer {
      padding-bottom: 30px;
    }

    &__row {
      margin-left: -10px;
      margin-right: -10px;
    }

    &__item {
      padding-left: 10px;
      padding-right: 10px;
    }

    &__inner {
      padding-bottom: 230px;
    }

    &__price {
      &-num {
        font-size: 40px;
      }

      &-status {
        font-size: 18px;
      }
    }
  }

  .plan-list {
    &__item {
      font-size: 16px;
    }
  }
}

@media(max-width: 1100px) {
  .plan {
    &__item {
      width: 50%;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__row {
      max-width: 800px;
      margin: auto;
      justify-content: center;
    }
  }
}

@media(max-width: 768px) {
  .plan {
    &__dots {
      // width: 115px;
      //top: -10px;
      // right: -10px;
    }
    &__item {
      width: 100%;
    }

    &__row {
      width: 430px;
    }
  }
}

@media(max-width: 568px) {
  .plan {
    .tabs-list {
      margin-top: 20px;
    }
    
    &__row {
      margin-left: -10px;
      margin-right: -10px;
      width: auto;
    }
  }
}