.welcome {
  margin: 63px 0 0;

  &__cont {
    width: calc(100% - 735px);
    padding-top: 60px;

    h1 {
      color: #fff;
      font-weight: bold;
      font-size: 70px;
      line-height: 1.1;
      margin: 0 0 24px;
    }

    p {
      font-size: 16px;
      line-height: 1.7;
      color: rgba(255, 255, 255, 0.5);
      margin: 0 0 15px;
    }
  }

  &__img-w {
    position: relative;
    width: 735px;
  }

  &__img {
    display: block;
    width: 100%;
    z-index: 50;
    position: relative;
  }

  &__dots {
    position: absolute;
    top: -37px;
    right: -48px;
    width: 315px;
  }

  &__play {
    width: 152px;
    height: 152px;
    background: rgba(0, 195, 101, 0.3);
    display: block;
    position: absolute;
    top: 50%;
    left: 31px;
    margin-top: -104px;
    border-radius: 100%;
    z-index: 60;

    &:before,
    &:after {
      position: absolute;
      content: "";
      display: block;
    }

    &:before {
      border-radius: 100%;
      background: #00C365;
      width: 124px;
      height: 124px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      transition: 0.3s all ease;
    }

    &:after {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 0 20px 34px;
      border-color: transparent transparent transparent #fff;
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      margin-left: 6px;
    }

    &:hover {
      &:before {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__btn {
    margin-top: 25px;
    width: 300px;

    .icon {
      margin-right: 15px;
    }
  }
}

@media(max-width: 1280px) {
  .welcome {
    &__cont {
      width: calc(100% - 600px);
      padding-top: 20px;

      h1 {
        font-size: 60px;
      }
    }

    &__img-w {
      width: 600px;
    }

    &__play {
      left: 10px;
      margin-top: -95px;
    }

    &__dots {
      width: 215px;
      top: -25px;
      right: -20px;
    }
  }
}

@media(max-width: 1024px) {
  .welcome {
    margin-top: 40px;

    &__cont {
      width: 100%;
      max-width: 500px;
      margin: auto;
      padding-top: 0;
      text-align: center;
    }

    &__img-w {
      display: none;
    }

    h1 {
      font-size: 40px;
    }
  }
}

@media(max-width: 568px) {
  .welcome {
    h1 {
      font-size: 36px;
    }
  }
} 