extends layout/_layout

block content
	#main
		.page-bg
			.main-container
		.page-wrap
			include blocks/_header
			include blocks/_welcome
			include blocks/_integration 
			include blocks/_plan
			include blocks/_comments