doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      title Title your site
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet")
      link(rel="stylesheet" href="css/main.css")
  body
    block content
    block scripts
      script(src='js/app.js')
